@charset "utf-8";
body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 400;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    color: rgb(128, 128, 255);
    text-decoration: none;
    text-shadow: -1px -1px 4px rgb(0, 0, 255);
}

a:hover, a:active {
    color: rgb(240, 240, 255);
    text-shadow: -1px -1px 4px rgb(240, 240, 255);
}

.main, .pagecontent {
    width: 100%;
    margin: 0;
    padding: 0;
}

.pagecontainer {
    width: auto;
    margin: 0;
    padding: 1vw;
}

.fa-fw, .navtext {
    display: inline;
}

.footer {
    width: 100%;
    text-align: center;
}
