@charset "utf-8";
#keno-grid {
    width: auto;
    max-width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 2px;
}

.keno-center {
    text-align: center;
}

.keno-left {
    text-align: left;
}

.keno-right {
    text-align: right;
}

.keno-number, .keno-info {
    width: 5%;
    max-width: 5%;
    display: table-cell;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 8px;
    vertical-align: middle;
}

#keno-call {
    position: fixed;
    width: 6vw;
    max-width: 100%;
}

.keno-transition {
    transition: all 1s;
}

#keno-top {
    height: 2em;
}

.keno-title {
    font-size: 1vw;
    font-weight: bold;
}

.keno-value {
    font-size: 2vw;
    text-shadow: 0px 0px 1vw rgb(255, 255, 255, 0.5);
}

#keno-r-0 {
    font-size: 2.5vw;
    color: rgb(255, 128, 128);
    text-shadow: 0px 0px 2vw rgb(255, 128, 128, 0.75);
}

#keno-r-1 {
    font-size: 2.5vw;
    color: rgb(92, 92, 255);
    text-shadow: 0px 0px 2vw rgb(92, 92, 255, 0.75);
}

#keno-r-2 {
    font-size: 2.5vw;
    color: rgb(64, 255, 64);
    text-shadow: 0px 0px 2vw rgb(64, 255, 64, 0.75);
}

#keno-r-3 {
    font-size: 2.5vw;
    color: rgb(255, 255, 64);
    text-shadow: 0px 0px 2vw rgb(255, 255, 64, 0.75);
}

#keno-r-4 {
    font-size: 2.5vw;
    color: rgb(255, 128, 255);
    text-shadow: 0px 0px 2vw rgb(255, 128, 255, 0.75);
}

#keno-r-5 {
    font-size: 2.5vw;
    color: rgb(255, 142, 86);
    text-shadow: 0px 0px 2vw rgb(255, 142, 86, 0.75);
}

#keno-r-6 {
    font-size: 2.5vw;
    color: rgb(64, 192, 192);
    text-shadow: 0px 0px 2vw rgb(64, 192, 192, 0.75);
}

#keno-r-7 {
    font-size: 2.5vw;
    color: rgb(162, 116, 255);
    text-shadow: 0px 0px 2vw rgb(162, 116, 255, 0.75);
}
