@charset "utf-8";
#keno-grid {
    width: 100%;
    max-width: 100%;
    border: none;
    vertical-align: middle;
    font-size: 3vw;
}

.keno-center {
    text-align: center;
}
.keno-left {
    text-align: left;
}
.keno-right {
    text-align: right;
}

.keno-number {
    width: auto;
    border: 2px solid rgb(64, 64, 255);
    border-radius: 8px;
    vertical-align: middle;
    font-size: 3vw;
}
