@charset "utf-8";
.keno-bg1, #keno-h-row, #keno-t-comments-row {
    background-color: rgba(0, 0, 0, 0.25);
}
.keno-bg2, #keno-h-comments-info, #keno-t-reply-row, #keno-l-row, #keno-h-load, #keno-t-load, #keno-h-more, #keno-h-comments-xtra {
    background-color: rgba(0, 0, 0, 0.75);
}
.keno-center {
    text-align: center;
}
.keno-left {
    text-align: left;
}
.keno-right {
    text-align: right;
}
.keno-labels {
    display: block;
    margin: 0;
    padding: 4px 0px 0px 0px;
}
.keno-label {
    margin: 0;
    padding: 0px 4px 2px 4px;
    color: rgb(255, 255, 255);
    font-size: 70%;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 4px; 
    border: 1px solid rgb(255, 255, 255);
    vertical-align: top;
    text-decoration: none;
}
#keno-front, #keno-table, #keno-view, #keno-more {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(255, 64, 64);
    vertical-align: middle;
    margin-bottom: 16px;
}
#keno-view {
    table-layout: fixed;
}
#keno-table time {
    white-space: nowrap;
}
#keno-t-row {
    height: 40px;
}
#keno-t-info img, #keno-t-comments-info img {
    background-color: rgb(255, 255, 255);
}
#keno-t-title, #keno-t-reply-row, #keno-h-load, #keno-t-load {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 5px rgb(255, 0, 0);
}
#keno-h-comments-avatar, #keno-h-comments-xtra-reactions {
    float: right;
    clear: both;
}
#keno-h-comments-xtra-labels span {
    font-size: 80%;
}
#keno-h-comments-avatar img, #keno-login img {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 128, 128);
    -webkit-filter: drop-shadow( -1px -1px 5px rgb(255, 0, 0));
    filter: drop-shadow(-1px -1px 5px rgb(255, 0, 0));
}
#keno-h-comments-span p, #keno-h-comments-xtra-reactions p {
    display: inline;
}
#keno-reload, #keno-getmore {
    cursor: pointer;
}
#keno-t-numurl, #keno-t-url {
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.keno-nomargins p {
    margin: 0px;
}
#keno-h-row, #keno-h-comments-info, #keno-h-comments-row, #keno-h-comments-xtra,
  #keno-h-comments-info, #keno-h-comments-avatar, #keno-h-comments-span {
    vertical-align: middle;
}