<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>
            {{ site.title | default: site.github.repository_name }}: {{ page.title | default: page.path }}
        </title>
        {% assign cssclass = 'default' %} {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/bits/css/keno.css" />
        <script type="text/javascript" src="/bits/js/keno.js"></script>
    </head>
    <body>
        {% include nav.html %}
        <div class="container pagecontent">
            {{ content }} {% include footer.html %}
        </div>
    </body>
</html>
