<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>
            {{ site.title | default: site.github.repository_name }}: {{ page.title | default: page.path }}
        </title>
        <link rel="stylesheet" type="text/css" href="/bits/css/keno.css?v={{ site.github.build_revision }}" />
        <script type="text/javascript" src="/bits/js/keno.js?v={{ site.github.build_revision }}"></script>
    </head>
    <body>
        <div class="container pagecontent">
            {{ content }} {% include footer.html %}
        </div>
    </body>
</html>
